<footer>
  <nav class="navbar fixed-bottom bg-secondary">
    <div class="container-fluid">
      <button type="submit" class="btn">Profile</button>
      <button type="submit" class="btn">My Maps</button>
      <a href="/maps/new_part1">New Map</button>
      <button type="submit" class="btn">My Favourites</button>
    </div>
  </nav>
</footer>
