<footer>
  <nav class="navbar fixed-bottom bg-secondary">
    <div class="container-fluid">
      <button type="submit" class="btn">Profile</button>
      <button type="submit" class="btn">My Maps</button>
      <button type="submit" class="btn">My Favourites</button>
</footer>
