<footer>
  <nav class="navbar fixed-bottom bg-secondary">
    <div class="container-fluid">

      <% if (user) { %>
        <form method="GET" action="/maps">
          <button type="submit" class="btn">Profile</button>
        </form>
        <form method="GET" action="/maps">
          <button type="submit" class="btn">My Maps</button>
        </form>
        <form method="GET" action="/maps">
          <button type="submit" class="btn">My Favourites</button>
        </form>
        <% } else {%>
          <form method="GET" action="/maps">
            <button type="" class="btn"></button>
          </form>
        <% } %>
</footer>
