<footer>
  <nav class="navbar fixed-bottom bg-secondary">
    <div class="container-fluid">

      <% if (user) { %>
        <form method="GET" action="/maps">
          <button type="submit" class="btn btn-sm">All Maps</button>
        </form>
        <form method="GET" action="/users/:userId/maps">
          <button type="submit" class="btn btn-sm">My Maps</button>
        </form>
        <form method="GET" action="/users/:userId/favourite-maps">
          <button type="submit" class="btn btn-sm">My Favourites</button>
        </form>
        <form method="GET" action="/maps/new_part1">
          <button type="submit" class="btn btn-sm">Create a Map</button>
          <% } else { %>
            <form method="GET" action="/maps">
              <button type="submit" class="btn btn-sm">All Maps</button>
            </form>
            <% } %>

</footer>
