<header>
  <nav class="navbar fixed-top navbar-expand-xl bg-secondary">
    <div class="container-fluid">

    </div>
    <a class="navbar-brand" >Wiki Maps</a>

    <button type="submit" class="btn btm-sm">Login</button>
    <button type="submit" class="btn btn-sm">Sign up</button>

  </nav>
</header>
