// See: https://sass-lang.com/

// body,
// html {
//   margin: 0;
// }
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



body {
  padding-top: 60px;
  align-items: center;
  padding-bottom: 60px;
}

.card {
  margin-left: 2.5%;
  margin-right: 2.5%
}

.button_div {
  display: flex;
  justify-content: space-between;
}
